http:
  address: {{ adguard_http_address }}

tls:
  enabled: true
  server_name: "{{ adguard_tls_server_name }}"
  force_https: false
  port_https: 443
  port_dns_over_tls: 0
  port_dns_over_quic: 0
  certificate_path: "{{ adguard_cert_directory }}/cert.crt"
  private_key_path: "{{ adguard_cert_directory }}/private.key"

dns:
  bind_hosts:
    - 0.0.0.0
{% if adguard_dns_ipv6 | default(false) %}
    - '::'
{% endif %}
  port: 53
  rewrites:
{% for rewrite in adguard_dns_rewrites %}
    - domain: '{{ rewrite.domain }}'
      answer: {{ rewrite.answer }}
      enabled: {{ rewrite.enabled | lower }}
{% endfor %}

users:
  - name: {{ adguard_admin_username }}
    password: {{ adguard_admin_password_hash }}

dashboard:
  theme: dark