http:
  address: {{ adguard_http_address }}

tls:
  enabled: false

dns:
  bind_hosts:
    - 0.0.0.0
{% if adguard_dns_ipv6 | default(false) %}
    - '::'
{% endif %}
  port: 53
  rewrites:
{% for rewrite in adguard_dns_rewrites %}
    - domain: '{{ rewrite.domain }}'
      answer: {{ rewrite.answer }}
      enabled: {{ rewrite.enabled | lower }}
{% endfor %}

users:
  - name: {{ adguard_admin_username }}
    password: {{ adguard_admin_password_hash }}

dashboard:
  theme: dark
