proxmox = {
  ip                    = "192.168.1.100"
  port                  = "8006"
  # Dedicated automation API user (not root@pam). Create with the Administrator role on /
  # (narrower scopes break Terraform: new VMIDs and image URL downloads need node-level perms):
  #   pveum user add tf-infra@pve --enable 1
  #   pveum aclmod / -user tf-infra@pve -role Administrator
  #   pveum user token add tf-infra@pve tf --privsep 0
  username              = "tf-infra@pve!tf"
  api_token             = "tf-infra@pve!tf=XXXXXXXXXXXXXXXXXXXX"
  root_ssh_key_location = "~/.ssh/id_ed25519"
  insecure              = true
  ssh_username          = "root"
  node_name             = "pve"
}
vm_ssh_pub_key    = "ssh-ed25519 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
admin_username    = "your-username"
