services:
  nginx-proxy:
    image: "{{ docker.nginx.image }}"
    container_name: "{{ docker.nginx.container_name }}"
    restart: unless-stopped
    environment:
      - TZ={{ docker.nginx.timezone }}
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - {{ docker.mount_point }}/nginx/certs:/etc/nginx/certs:ro
      - nginx_vhost:/etc/nginx/vhost.d
      - nginx_html:/usr/share/nginx/html
      - nginx_conf:/etc/nginx/conf.d
    networks:
      - {{ docker.network.name }}

networks:
  {{ docker.network.name }}:
    external: true

volumes:
  nginx_vhost:
  nginx_html:
  nginx_conf:
